@import "variables.less";

html {
  height: 100%;

  body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    font-size: 12px;
    color: #333333;

    #root {
      height: 100%;


      #app {
        width: 100%;
        height: 100%;

        .navFilter {
          background: @altColour;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1em;
          height: 46px;

          #modeFilter {
            display: flex;
            justify-content: center;
            align-items: center;

            #dropdown-mode {
              background: #fff;
              color: black;
              height: 34px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background: @darkOrange;
                color: #fff;
              }
            }
          }

          #viewFilter {
            border-radius: 4px;
            margin: 0 0.5em;
            height: 34px;


            li {
              border: none;
              list-style: none;
              box-shadow: -1px 0 0 0 lightgrey;
              background: #fff;

              &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }

              &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }

              &:hover {
                background: @darkOrange;
                color: #fff;
              }

              &.active {
                background: @primaryColour;
                color: #fff;
              }
            }
          }
        }

        .leaflet-container {
          width: 100%;
          height: 100%;

          .leaflet-control-layers-overlays {
            label {
              span {
                color: #000;
                font-weight: 500;

              }
            }
          }

          .leaflet-marker-icon {
            .fa-fire {
              position: absolute;
              bottom: 22px;
              left: 10px;
              font-size: 14px;

              &.orangeIconColor svg path {
                fill: #ef9227;
              }

              &.whiteIconColor svg path {
                fill: white;
              }

              &.blackIconColor svg path {
                fill: #211c1d;
              }

              &.greyIconColor svg path {
                fill: #d3d3de;
              }
            }

            .fa-penta {
              &.greyFillColor svg {
                fill: #ccc;
              }

              &.blackFillColor svg {
                fill: #211c1d;
              }

              &.blueFillColor svg {
                fill: #276273;
              }

              &.redFillColor svg {
                fill: #a23337;
              }

              &.wholeBorderOpacity svg g {
                opacity: 1;
              }

              &.pointThreeBoarderOpacity svg g {
                opacity: 0.3;
              }

              &.darkRedBorderColor svg path {
                stroke: #905678;
              }

              &.orangeBorderColor svg path {
                stroke: #ef9227;
              }

              &.blackBorderColor svg path {
                stroke: black;
              }

              &.oneStrokeBorderWidth svg path {
                stroke-width: 1;
              }

              &.threeStrokeBorderWidth svg path {
                stroke-width: 3;
              }
            }

            .fa-container {
              &.green-dark svg path {
                fill: #006838
              }

              &.blue svg path {
                fill: #105BAE;
              }

              &.white svg path {
                fill: white;
              }
            }

            .fa-content {
              position: absolute;
              bottom: 20px;
              left: 10px;

              &.customMarker {
                left: 5px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                  content: '+';
                }
              }

              &.yellow svg path {
                fill: #FEFF04;
              }

              &.orange svg path {
                fill: #FFA500;
              }

              &.gray svg path {
                fill: gray;
              }

              &.black svg path {
                fill: black;
              }

              &.white svg path {
                fill: white;
              }
            }

            .dispatchCount {
              position: absolute;
              left: 14px;
              bottom: 9px;
              font-size: 14px;

              &.whiteIconColor {
                color: white;
              }

              &.orangeIconColor {
                color: #ef9227;
              }

              &.blackIconColor {
                color: #211c1d;
              }

              &.greyIconColor {
                color: #d3d3de;
              }

            }

          }

          .dispatched:after {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            content: attr(data-content);
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 11px;
          }
        }

        .arena-map-table {
          width: 240px;

          .emphasis {
            font-weight: bold;
          }

          .section:not(:first-child) {
            margin-top: 10px;
          }

          .subsection-heading {
            margin-top: 8px;
            font-weight: bold;
          }

          .assetDetails {
            display: flex;
            flex-direction: column;
            margin: 0.5em 0;
          }

          .subsection-notes {
            white-space: pre-line;
          }

          .warning-icon svg path {
            fill: #f0ad4e;
          }

          .tabs {
            list-style: none;
            margin: 30px 0 0 0;
            padding: 0 0 3px 0;

            li {
              display: inline;
              color: #42454a;
              background-color: #dedbde;
              border: 1px solid #c9c3ba;
              border-bottom: none;
              padding: 4px;
              text-decoration: none;

              &.selected {
                color: #000;
                background-color: white;
                padding-top: 5px;
                padding-bottom: 5px;
              }
            }

            a {
              text-decoration: none;
              color: #1a4f7b;
            }
          }

          .tabContent {
            border: 1px solid #c9c3ba;
            padding: 0.5em;

            &.close {
              display: none;
            }

          }

        }
      }

      .keyword_filter {
        display: block;
        padding: 1em;
      }

      .label {
        display: inline-block;
        padding-right: 0.5rem;
        padding-left: 1em;

      }

      .table {

        th {
          padding: 0;
          border: 1px solid #e6e6e6;
          border-bottom-width: 2px;
          position: relative;
          height: 3em;
          line-height: 3em;
          padding-left: 0.5em;
          min-width: 10em;
          font-weight: 700;
          color: #757575;

          &.selected {
            background: #e6e6e6;
            color: #222222;
          }

          &.sort {
            cursor: pointer;
          }

          .table_sort {
            position: absolute;
            top: 0;
            right: 0.5em;
          }
        }

        tbody {
          tr:nth-child(odd) > td {
            background-color: #f9f9f9;
            --bs-table-accent-bg: #f9f9f9;
          }

          tr:nth-child(even) > td {
            background-color: #fff;
          }

          td {
            font-weight: 400;
            border: 1px solid #ddd;
            position: relative;

            .loc-header {
              color: #7990a2;
              font-weight: 600;
              margin-right: 0.5rem;
            }
            .assetName {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
            }

            .dispatched {
              color: #D00000;
              font-weight: bold;
            }

            .font_bold {
              font-weight: bold;
            }

            .popup {
              position: absolute;
              width: 25em;
              right: -26em;
              top: 0;
              background: #fff;
              z-index: 10;
              font-weight: normal;
              border: 1px solid #bbb;
              border-radius: 5px;

              .callsignAndRego {
                padding: 0.5em 1em;
                background: #eee;
                font-weight: bold;
              }


              .content {
                padding: 1em;

                .label {
                  font-weight: bold;
                  color: #222222;
                }

                .operator_detail {
                  padding-left: 2em;
                }

                .image {
                  width: 100px;
                }
              }


              .warning-icon svg path {
                fill: #f0ad4e;
              }

              .operator {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 170px;
                color: #BBB;
              }

              .statusCell {
                .eventName {
                  font-weight: bold;
                }
              }


            }
          }
        }
      }
    }
  }
}

