@import "variables.less";

html {
  height: 100%;

  body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;

    #root {
      height: 100%;


      #app {
        width: 100%;
        height: 100%;

        .navFilter {
          background: @altColour;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1em;
          height: 46px;

          #modeFilter {
            display: flex;
            justify-content: center;
            align-items: center;

            #dropdown-mode {
              background: #fff;
              color: black;
              height: 34px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background: @darkOrange;
              }
            }
          }

          #viewFilter {
            border-radius: 4px;
            margin: 0 0.5em;
            display: flex;
            background: #fff;
            padding: 0;

            li {
              list-style: none;
              border-radius: 0;
              box-shadow: -1px 0 0 0 lightgrey;
              height: 34px;

              &:hover {
                background: @darkOrange;
              }

              &.active {
                background: @primaryColour;
              }
            }
          }
        }

        .leaflet-container {
          width: 100%;
          height: 100%;

          .leaflet-control-layers-overlays {
            label {
              span {
                color: #000;
                font-weight: 500;

              }
            }
          }

          .leaflet-marker-icon {
            .fa-fire {
              position: absolute;
              bottom: 25px;
              left: 10px;
              font-size: 14px;
            }

            .dispatchCount {
              position: absolute;
              left: 14px;
              bottom: 9px;
            }

          }

          .dispatched:after {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            content: attr(data-content);
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 11px;
          }
        }

        .arena-map-table {
          width: 240px;

          .emphasis {
            font-weight: bold;
          }

          .section:not(:first-child) {
            margin-top: 10px;
          }

          .subsection-heading {
            margin-top: 8px;
            font-weight: bold;
          }

          .assetDetails {
            display: flex;
            flex-direction: column;
            margin: 0.5em 0;
          }
        }
      }
    }
  }
}
