@import "variables.less";

html {
  height: 100%;

  body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;

    #root {
      height: 100%;


      #app {
        width: 100%;
        height: 100%;

        .navFilter {
          background: @altColour;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1em;
          height: 46px;

          #modeFilter {
            display: flex;
            justify-content: center;
            align-items: center;

            #dropdown-mode {
              background: #fff;
              color: black;
              height: 34px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background: @darkOrange;
              }
            }
          }

          #viewFilter {
            border-radius: 4px;
            margin: 0 0.5em;
            display: flex;
            background: #fff;
            padding: 0;

            li {
              list-style: none;
              border-radius: 0;
              box-shadow: -1px 0 0 0 lightgrey;
              height: 34px;

              &:hover {
                background: @darkOrange;
              }

              &.active {
                background: @primaryColour;
              }
            }
          }
        }

        .leaflet-container {
          width: 100%;
          height: 100%;

          .leaflet-control-layers-overlays {
            label {
              span {
                color: #000;
                font-weight: 500;

              }
            }
          }

          .leaflet-marker-icon {
            .fa-fire {
              position: absolute;
              bottom: 25px;
              left: 10px;
              font-size: 14px;
              &.orangeIconColor svg path {
                fill: #ef9227;
              }
              &.whiteIconColor svg path {
                fill: white;
              }
              &.blackIconColor svg path {
                fill: #211c1d;
              }
              &.greyIconColor svg path {
                fill: #d3d3de;
              }
            }
            .fa-penta {
              &.greyFillColor svg {
                fill: #ccc;
              }
              &.blackFillColor svg {
                fill: #211c1d;
              }
              &.blueFillColor svg {
                fill: #276273;
              }
              &.redFillColor svg {
                fill: #a23337;
              }
              &.wholeBorderOpacity svg g {
                opacity: 1;
              }
              &.pointThreeBoarderOpacity svg g {
                opacity: 0.3;
              }
              &.darkRedBorderColor svg path {
                stroke: #905678;
              }
              &.orangeBorderColor svg path {
                stroke: #ef9227;
              }
              &.blackBorderColor svg path {
                stroke: black;
              }
              &.oneStrokeBorderWidth svg path {
                stroke-width: 1;
              }
              &.threeStrokeBorderWidth svg path {
                stroke-width: 3;
              }
            }
            .fa-container {
              &.green-dark svg path {
                fill: #0F3325
              }

              &.blue svg path {
                fill: blue
              }

              &.white svg path {
                fill: white;
              }
            }

            .fa-content {
              position: absolute;
              bottom: 20px;
              left: 10px;

              &.yellow svg path {
                fill: yellow;
              }

              &.orange svg path {
                fill: orange;
              }

              &.gray svg path {
                fill: gray;
              }

              &.black svg path {
                fill: black;
              }
            }

            .dispatchCount {
              position: absolute;
              left: 14px;
              bottom: 9px;
              &.whiteIconColor {
                color: white;
              }
              &.orangeIconColor{
                color: #ef9227;
              }
              &.blackIconColor {
                color: #211c1d;
              }
              &.greyIconColor{
                color: #d3d3de;
              }

            }

          }

          .dispatched:after {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            content: attr(data-content);
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 11px;
          }
        }

        .arena-map-table {
          width: 240px;

          .emphasis {
            font-weight: bold;
          }

          .section:not(:first-child) {
            margin-top: 10px;
          }

          .subsection-heading {
            margin-top: 8px;
            font-weight: bold;
          }

          .assetDetails {
            display: flex;
            flex-direction: column;
            margin: 0.5em 0;
          }

          .subsection-notes {
            white-space: pre-line;
            text-overflow: ellipsis;
          }

        }
      }
    }
  }
}
