<div class="action-buttons planningButtons">
  <button title="Add to Plan" data-assetid="{{assetId}}" data-assettype="{{assetType}}" class="btn addToPlanBtn"><i class="fa fa-plus"></i> Add To Plan</button>
</div>
