<div class="subsection-heading">Operator:</div>
<div class="subsection">
  <div>{{{name}}}</div>
  <div class="contact">
    <div>{{{contact}}}</div>
    {{#if phoneIntegration}}
      <div class="callto"><a href="{{{phoneIntegration}}}">
        <i class="fa fa-phone"></i> Call</a>
      </div>
    {{/if}}
  </div>
  <div>{{{photo}}}</div>
</div>
