<div class="amPopupContainer hoverToggle" data-popup="{{popup}}">
  <div class="availability tblWarning">ERROR</div>
  <div class="registration">
    {{#if assetLabel}}
      {{assetLabel}} has no IMEI data
    {{else}}
      No tracking data found
    {{/if}}
  </div>
</div>
