<div class="btn-group first-filter">
  <a href="#" id="see-map" class="btn">
    <span class="button-text">Map</span>
    <div class="button-icon map-icon"></div>
  </a>
  <a href="#" id="see-airdesk" class="btn">
    <span class="button-text">List</span>
    <div class="button-icon list-icon"></div>
  </a>
  <a href="#" id="see-dispatch-board" class="btn" style="display:none">
    <span class="button-text">Dispatch Board</span>
    <div class="button-icon columns-icon"></div>
  </a>
  <a href="#" id="see-standby-board" class="btn" style="display:none">
    <span class="button-text">Standby Board</span>
    <div class="button-icon columns-icon"></div>
  </a>
  <a href="#" id="see-planning" class="btn" style="display:none">
    <span class="button-text">Planning</span>
    <div class="button-icon planning-icon"></div>
  </a>
</div>
