<div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0, 0.2); z-index: 100;" onclick="event.stopPropagation(); return false;">
</div>
<div class="amPopup modalAmPopup arrow {{position}} {{#if open}}open{{/if}}" style="z-index: 101">
  <div>
    {{#if title}}<h3 class="popupTitle">{{{title}}}</h3>{{/if}}
    <div class="popupContent">
      {{#if content}}
        {{{content}}}
      {{/if}}
      {{#if contents}}
        {{#each contents}}
          {{#if this}}<div class="section">{{{this}}}</div>{{/if}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
