<div>
  {{#if FEATURE_TYPE}}<div><span class="emphasis">Type:</span> {{FEATURE_TYPE}}</div>{{/if}}
  {{#if FEATURE_SUBTYPE}}<div><span class="emphasis">Sub type:</span> {{FEATURE_SUBTYPE}}</div>{{/if}}
  {{#if VOLTAGE}}<div><span class="emphasis">Voltage:</span> {{VOLTAGE}}</div>{{/if}}
</div>
