<div class="release-datetime-fields">
  <label for="release-date">Release on</label>
  <input id="release-date" type="date" value="{{date}}" placeholder="Release date">
  <label for="release-time">at</label>
  <input id="release-time" value="{{time}}" style="width: 50px">
</div>