<div id="view-filter-button" class="dropdown ">
  <button class="btn dropdown-toggle" type="button" id="viewDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span  id="viewDropdownMode">VIEW: </span>
    <span  id="viewDropdownLabel">Map</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="viewDropdownMenu">
    <li><a href="#" id="see-map">Map</a></li>
    <li><a href="#" id="see-airdesk">List</a></li>
    <li><a href="#" id="see-dispatch-board">Dispatch Board</a></li>
    <li><a href="#" id="see-standby-board">Standby Board</a></li>
    <li><a href="#" id="see-planning">Planning</a></li>
  </ul>
</div>
