{{#if showContact}}
  <div class="subsection-heading emphasis">Operator:</div>
  <div class="subsection">
      <div>{{contactName}}</div>
    <div class="contact">
      <div>{{phone}}</div>
    </div>
  </div>
{{/if}}
